@charset "UTF-8";

/*
    Paleta de Cores
     Color Theme Swatches in Hex 
*/
.color1{ color: #035AA6; }
.color2{ color: #023059; }
.color3{ color: #011526; }
.color4{ color: #0367A6; }
.color5{ color: #91BBF2; }
